@media screen and (min-width: 320px) {
   .place__title {
      margin: 0 16px;
      padding: 64px 0 32px;
      max-width: 288px;
      font-size: 32px;
      line-height: 35px;
      color: white;
   }
}

@media screen and (min-width: 768px) {
   .place__title {
      margin: 0;
      padding: 88px 0 48px;
      font-size: 42px;
      line-height: 46px;
      grid-area: title;
   }
}

@media screen and (min-width: 1024px) {
   .place__title {
      padding: 92px 0 48px;
      font-size: 72px;
      line-height: 76px;
      grid-area: title;
   } 
}

@media screen and (min-width: 1280px) {
   .place__title {
      font-size: 72px;
      line-height: 76px;
      grid-area: title;
   }
}