@media screen and (min-width: 1280px) {
    .place__paragraph {
        width: 484px;
        font-size: 18px;
        line-height: 29px;
        grid-area: paragraph;
        color: white;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .place__paragraph {
        width: 456px;
        font-size: 18px;
        line-height: 29px;
        grid-area: paragraph;
        color: white;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .place__paragraph {
        width: 352px;
        font-size: 16px;
        line-height: 26px;
        grid-area: paragraph;
        color: white;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .place__paragraph {
        width: 288px;
        font-size: 16px;
        line-height: 26px;
        grid-area: paragraph;
        color: white;
    }
}