.lang__link {
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .lang__link {
    font-size: 24px;
    line-height: 28px;
    }
}

.lang__link:first-of-type {
    margin: 0 18px 0;
}
