@media screen and (min-width: 320px) {
    .lead {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 320px;
    }
}

@media screen and (min-width: 768px) {
    .lead {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 768px;
    }
}

@media screen and (min-width: 1024px) {
    .lead {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 928px;
    }
}

@media screen and (min-width: 1280px) {
    .lead {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 984px;
    }
}