@media screen and (min-width: 1280px) {
    .lead {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 984px;
        height: 1005px;
        margin-bottom: 92px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .lead {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 928px;
        height: 962px;
    }
}

@media screen and (min-width: 768px) and (max-height: 1024px) {
    .lead {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 768px;
        height: 862px;
    }
}

@media screen and (min-width: 320px) and (max-height: 768px) {
    .lead {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 320px;
        height: 406px;
    }
}