@media screen and (min-width: 320px) {
    .place__paragraph {
        margin: 32px 16px 0;
        padding: 0;
        font-size: 16px;
        line-height: 26px;
        color: white;
        font-weight: 400;
        padding: 0 0 50px;
    }
}

@media screen and (min-width: 768px) {
    .place__paragraph {
        margin: 0;
        grid-area: paragraph;
    }
}

@media screen and (min-width: 1024px) {
    .place__paragraph {
        font-size: 18px;
        line-height: 29px;
        grid-area: paragraph;
    }
}

@media screen and (min-width: 1280px) {
    .place__paragraph {
        font-size: 18px;
        line-height: 29px;
        grid-area: paragraph;
    }
}