@media screen and (min-width: 320px) {
    .places__place-paragraph {
        width: 288px;
        font-size: 16px;
        line-height: 26px;
        color: white;
        font-weight: 400;
        margin: 0 0 50px;
    }
}

@media screen and (min-width: 768px) {
    .places__place-paragraph {
        width: 352px;
        font-size: 16px;
        line-height: 26px;
        grid-area: paragraph;
        color: white;
        font-weight: 400;
    }
}

@media screen and (min-width: 1024px) {
    .places__place-paragraph {
        width: 456px;
        font-size: 18px;
        line-height: 29px;
        grid-area: paragraph;
        color: white;
        font-weight: 400;
    }
}

@media screen and (min-width: 1280px) {
    .places__place-paragraph {
        width: 484px;
        font-size: 18px;
        line-height: 29px;
        grid-area: paragraph;
        color: white;
        font-weight: 400;
    }
}