@media screen and (min-width: 320px) {
    .list {
        max-width: 288px;
        font-size: 12px;
        line-height: 18px;
        color: white;
        font-weight: 400;
    }
}

@media screen and (min-width: 768px) {
    .list {
        max-width: 720px;
        font-size: 12px;
        line-height: 18px;
        color: white;
        font-weight: 400;
    }
}

@media screen and (min-width: 1024px) {
    .list {
        max-width: 690px;
        color: white;
        font-weight: 400;
    }
}